<!DOCTYPE html>
<html ng-app="spot" ng-controller="spotCtrl">

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<head >
	<title>SPOT</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/table.css">
	<link rel="stylesheet" type="text/css" href="css/dnd.css">
	<script type="text/javascript" src="js/controller.js"></script>
	<script type="text/javascript">
		function myFunction(x){
			var y = angular.element(document.querySelector('#'+x));
			y.popover('show');
		}
	</script>
	<script>
	function allowDrop(ev) {
	    ev.preventDefault();
	}

	function drag(ev) {
	    ev.dataTransfer.setData("text", ev.target.id);
	    ev.target.classList.add('drag');
	}

	function drop(ev) {
	    ev.preventDefault();
	    ev.target.classList.remove('drag');

	    var data = ev.dataTransfer.getData("text");
	    ev.target.appendChild(document.getElementById(data));
	}
	</script>

	
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> -->
	
	</head>
	<body >
	<div id="spot_app" >
		<div id="spot_header">
			<div id="circle"><div id="spot_div">Spot</div></div>
		</div>
		<div id="spot_filter">
			<div id="spot_office">
				Sprinklr Office
			</div>
			<div id="spot_search">
				<input ng-model="query" placeholder="Search..." onkeyup="myFunction(this.value)">
				<button type="button" id="menu" class="glyphicon glyphicon-glass" title="{{popover.title}}" data-content="{{popover.content}}"  data-animation="am-flip-x" data-auto-close="1">
				</button>
			</div>
			<br style="clear:both;"/>
			
		</div>
		<div id="spot_display">
			<ul class="tab" >
				<li  ng-repeat="x in tables" style="margin-left: 4%; display: inline-block;width: 27%;vertical-align: top;padding:1%;">
					<div style="width:100px;" class="spot_table">
						<div style="width: 100px">
						<div  class="no custc topc webk " style="position: relative;left:10px;top:0px;float:left;" ondrop="drop(event)" ondragover="allowDrop(event)" >
							<div ng-show="x.seat1.seated=='yes'" ng-class="x.seat1.seated"  id="{{x.seat1.emp}}" class="custc topc webk {{x.seat1.team | custFilter:query}} {{x.proj | custFilter:query}} {{x.seat1.des | custFilter:query}}" draggable="true" ondragstart="{{drag(event)}}" data-toggle="popover" data-content='<div style="height: 150px; width: 150px; padding: 1%;">
							<div style="height: 50px; padding: 1%;">
							<div style="float: left; padding: 1%;"><img style="width: 40px; height: 40px;" src="images/{{x.seat1.emp}}.jpg"/></div>
							<div style="float: right;"><span style="font-size: 90%;">{{x.seat1.emp}}</span></br><span><b>{{x.seat1.des}}</b></span></div>
							<br style="clear: both;"/>
							</div>
							<div style="padding: 1%;"><span style="font-size: 70%;color: grey;">Team</span></br><span>{{x.seat1.team}}</span></div>
							<div style="padding: 1%;"><span style="font-size: 70%;color: grey;">Current Project</span></br><span>{{x.proj}}</span></div>
							</div>'></div>
						</div>
						<div  class="no custc topc webk"  style="position: relative ;left:30px;top:0px;float:left;" ondrop="drop(event)" ondragover="allowDrop(event)">
							<div ng-show="x.seat2.seated=='yes'" ng-class="x.seat2.seated" class="custc topc webk {{x.seat2.team | custFilter:query}} {{x.proj | custFilter:query}} {{x.seat2.des | custFilter:query}}" id="{{x.seat2.emp}}" draggable="true" ondragstart="drag(event)" data-toggle="popover" data-content='<div style="height: 150px; width: 150px; padding: 1%;">
							<div style="height: 50px; padding: 1%;">
							<div style="float: left; padding: 1%;"><img style="width: 40px; height: 40px;" src="images/{{x.seat2.emp}}.jpg"/></div>
							<div style="float: right;"><span style="font-size: 90%;">{{x.seat2.emp}}</span></br><span><b>{{x.seat2.des}}</b></span></div>
							<br style="clear: both;"/>
							</div>
							<div style="padding: 1%;"><span style="font-size: 70%;color: grey;">Team</span></br><span>{{x.seat2.team}}</span></div>
							<div style="padding: 1%;"><span style="font-size: 70%;color: grey;">Current Project</span></br><span>{{x.proj}}</span></div>
							</div>'></div>	
						</div>
							<br style="clear:both;"/>
						</div>
						<div class="boxt" style="position: relative; "><span style="vertical-align: middle; line-height: normal;">{{x.name}}</span></div>
						<div style="width: 100px;">
							<div  class="no custc bottomc webk"  style="position: relative;left:10px;top:4.5px;float:left;" ondrop="drop(event)" ondragover="allowDrop(event)">
							<div ng-show="x.seat3.seated=='yes'" ng-class="x.seat3.seated" id="{{x.seat3.emp}}" class="custc bottomc webk {{x.seat3.team | custFilter:query}} {{x.proj | custFilter:query}} {{x.seat3.des | custFilter:query}}" draggable="true" ondragstart="drag(event)"  data-toggle="popover" data-content='<div style="height: 150px; width: 150px; padding: 1%;">
							<div style="height: 50px; padding: 1%;">
							<div style="float: left; padding: 1%;"><img style="width: 40px; height: 40px;" src="images/{{x.seat3.emp}}.jpg"/></div>
							<div style="float: right;"><span style="font-size: 90%;">{{x.seat3.emp}}</span></br><span><b>{{x.seat3.des}}</b></span></div>
							<br style="clear: both;"/>
							</div>
							<div style="padding: 1%;"><span style="font-size: 70%;color: grey;">Team</span></br><span>{{x.seat3.team}}</span></div>
							<div style="padding: 1%;"><span style="font-size: 70%;color: grey;">Current Project</span></br><span>{{x.proj}}</span></div>
							</div>'></div>
							</div>
							<div  class="no custc bottomc webk"  style="position: relative ;left:30px;top:4.5px;float: left;" ondrop="drop(event)" ondragover="allowDrop(event)">
							<div ng-show="x.seat4.seated=='yes'" ng-class="x.seat4.seated" class = "custc bottomc webk  {{x.seat4.team | custFilter:query}} {{x.proj | custFilter:query}} {{x.seat4.des | custFilter:query}}" id="{{x.seat4.emp}}" draggable="true" ondragstart="drag(event)" data-toggle="popover" data-content='<div style="height: 150px; width: 150px; padding: 1%;">
							<div style="height: 50px; padding: 1%;">
							<div style="float: left; padding: 1%;"><img style="width: 40px; height: 40px;" src="images/{{x.seat4.emp}}.jpg"/></div>
							<div style="float: right;"><span style="font-size: 90%;">{{x.seat4.emp}}</span></br><span><b>{{x.seat4.des}}</b></span></div>
							<br style="clear: both;"/>
							</div>
							<div style="padding: 1%;"><span style="font-size: 70%;color: grey;">Team</span></br><span>{{x.seat4.team}}</span></div>
							<div style="padding: 1%;"><span style="font-size: 70%;color: grey;">Current Project</span></br><span>{{x.proj}}</span></div>
							</div>'></div>
							</div>
							<br style="clear:both;"/>
						</div>
						<script type="text/javascript">
							var popmsg = '<p>empty seat</p>';
							
							$('[data-toggle="popover"]').popover({ trigger: 'hover', placement: 'right', html: true});
							$('#menu').popover({trigger: 'click', placement: 'bottom', toggle: 'popover', html: true});
						</script>
					</div>
				</li>
			</ul>
		</div>
	</div>
	</body>
</html>