<div style="height: 200px; width: 150px; padding: 1%;">
	<div style="height: 40%; padding: 1%;">
		<div style="float: left; padding: 1%;"><img ng-src ="images/{{x.seat1.emp}}"/></div>
		<div style="float: right; padding: 1%;"><span style="font-size: 120%;"></span></br><span>{{x.seat1.des}}</span></div>
		</br style="clear: both;">
	</div>
	<div style="padding: 1%;"><span style="font-size: 120$;">Team</span></br><span>{{x.seat1.team}}</span></div>
	<div style="padding: 1%;"><span style="font-size: 120$;">Project</span></br><span>{{x.seat1.pro}}</span></div>
</div>