<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">

.custc{
	width: 30px;
	height: 15px;
}
.fullc{
	width: 30px;
	height: 30px;
}
.topc{
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.bottomc{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.webk{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.colorc{
	background-color: lightgrey;
}
.boxt{
	width:100px;
	height: 50px;
	background-color: lightgrey;
	text-align: center;
	line-height: 50px;
}

</style>
</head>
<body>
	<div style="width:100px;" id="spot_table">
		<div style="width: 100px">
			<div class="custc topc  webk colorc" style="position: relative;left:10px;top:0px;float:left;"></div>
			<div class="custc topc  webk colorc" style="position: relative ;left:30px;top:0px;float:left;"></div>
			<br style="clear:both;"/>
		</div>
		<div class="boxt" style="position: relative; "><span style="vertical-align: middle; line-height: normal;">Table 1</span></div>
		<div style="width: 100px;">
			<div class="custc bottomc  webk colorc" style="position: relative;left:10px;top:3px;float:left;"></div>
			<div class="custc bottomc  webk colorc" style="position: relative ;left:30px;top:3px;float: left;"></div>
			<br style="clear:both;"/>
		</div>
	</div>
	

</body>
</html>